@model NeerajraiInfra.Models.Reports

@{
    ViewBag.Title = "PayPayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PayPayout", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Payout</li>
            <li class="breadcrumb-item">Pay Payout</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Pay Payout</h4>


                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Login ID</label>
                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login ID" })
                            </div>
                        </div>

                        <div class="col-lg-2"></div>

                        <div class="col-lg-7">
                            <div class="form-group">
                                <input class="btn btn-success" name="search" type="submit" value="Get Deatils" />
                                <input type="submit" class="btn btn-primary" value="Export To Excel" name="Export" formtarget="_blank" />
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="dt-responsive table-responsive">
                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>LoginID</th>
                                    <th>Name</th>
                                    <th>Account No</th>
                                    <th>Bank Name</th>
                                    <th>IFSC Code</th>
                                    <th>Amount</th>
                                    <th>Pay Amount</th>
                                    <th>Transaction No</th>
                                    <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <input type="text" name="TransactionNo" id="TransactionNo" class="form-control"/>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total:-</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<script src="../vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#PayPayout').DataTable({
            responsive: true
        });
    });
</script>

<script src="../..//WebsiteCss/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }

    .btn {
        margin-top: 27px;
    }
</style>


