<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Links of CSS files -->
    <link rel="stylesheet" href="/WebsiteCss/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/animate.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/flaticon.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/odometer.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/fancybox.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/style.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/dark.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/responsive.css">

    <title>Neeraj Rai Infra Private Limited</title>

    <link rel="icon" type="image/png" href="/WebsiteCss/assets/images/favicon_img.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <div class="header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-6">
                    <div class="left">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="right">
                        <ul>
                            <li>
                                <a href="#"><i class='bx bxs-map'></i> Lucknow, Uttar Pradesh</a>
                            </li>
                            <li>
                                <a href="mailto:neerajinfra@gmail.com"><i class='bx bx-envelope'></i> neerajinfra@gmail.com</a>
                            </li>
                            <li>
                                <a href="tel:919876543210"><i class='bx bxs-phone'></i> (91) 9876543210</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Navbar Area -->
    <div class="navbar-area">

        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="~/Website/Index">
                            <img src="/WebsiteCss/assets/images/logo.jpeg" class="black-logo" alt="image">
                            <img src="/WebsiteCss/assets/images/logo.jpeg" class="white-logo" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="~/Website/Index">
                        <img src="/WebsiteCss/assets/images/logo.jpeg" style="height: 100px;" class="black-logo" alt="image">
                        <img src="/WebsiteCss/assets/images/logo.jpeg" class="white-logo" alt="image">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="~/Website/Index" class="nav-link active">
                                    Home
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Website/Property" class="nav-link">
                                    Our Property
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Website/About" class="nav-link">
                                    About Us
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Website/EventGallery" class="nav-link">
                                    Our Gallery
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Website/ContactUs" class="nav-link">
                                    Enquiry
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Website/ContactUs" class="nav-link">
                                    Contact Us
                                </a>
                            </li>
                        </ul>

                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="/Home/login" class="default-btn">Login<span></span></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="/Home/Login" class="default-btn">Login <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!--header-->
    @RenderBody()
    
    <!-- Start Footer Area -->
    <footer class="footer-area pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <div class="widget-logo">
                            <a href="~/Website/Index">
                                <center><img src="/WebsiteCss/assets/images/logo.jpeg" style="height:100px" alt="image"></center>
                            </a>
                        </div>

                        <p>
                            Neeraj Rai Infra Private Limited (OPC) has always
                            been an emblem of Avant-grade services in the Real State sector in Lucknow.
                        </p>

                        <ul class="widget-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Explore</h3>
                        <ul class="footer-quick-links">
                            <li><a href="~/Website/Index">HOME</a></li>
                            <li><a href="~/Website/About">ABOUT US</a></li>
                            <li><a href="~/Website/EventGallery">OUR GALLERY</a></li>
                            <li><a href="~/Website/Property">PROPERTIES</a></li>
                            <li><a href="~/Website/Property">SELL PLOT</a></li>
                            <li><a href="~/Website/Property">New PROPERTIES</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Contact</h3>

                        <ul class="widget-info">
                            <li>
                                <i class='bx bxs-map'></i>
                                Lucknow, Uttar Pradesh
                            </li>

                            <li>
                                <i class='bx bxs-phone'></i>
                                <a href="tel:9876543210">+(91) 9876543210</a>
                            </li>

                            <li>
                                <i class='bx bx-envelope'></i>
                                <a href="mailto:neerajinfra@gmail.com"><span>neerajinfra@gmail.com</span></a>
                            </li>

                            <li>
                                <i class='bx bx-time'></i>
                                9 AM - 5 PM
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Newsletter</h3>

                        <div class="widget-newsletter">
                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Email Address" name="EMAIL"
                                       required="" autocomplete="off">

                                <button type="submit"><i class='bx bx-envelope'></i></button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <div class="newsletter-content">
                                <p>Sign up for our latest news and articles. We won't give you spam emails.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear())</script> Neeraj Rai Infra Private Limited . All Rights Reserved || Made by
                        <a href="https://afluex.com/" target="_blank">Afluex Multiservices LLP.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-chevron-up'></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Links of JS files -->
    <script src="/WebsiteCss/assets/js/jquery.min.js"></script>
    <script src="/WebsiteCss/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.meanmenu.js"></script>
    <script src="/WebsiteCss/assets/js/owl.carousel.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.appear.js"></script>
    <script src="/WebsiteCss/assets/js/nice-select.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery-ui.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/WebsiteCss/assets/js/fancybox.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/WebsiteCss/assets/js/form-validator.min.js"></script>
    <script src="/WebsiteCss/assets/js/contact-form-script.js"></script>
    <script src="/WebsiteCss/assets/js/wow.min.js"></script>
    <script src="/WebsiteCss/assets/js/main.js"></script>
</body>
</html>