@model NeerajraiInfra.Models.DashBoard

@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
}
<html lang="en">
<body class="nav-md">
    @using (Html.BeginForm("EmployeeDashboard", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <h4>Welcome To Employee DashBoard,Now you Are NeerajRaiInfra Employee....</h4>
    }
</body>
</html>
